<!DOCTYPE html>
<html>
  <head>
    <title>Rag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <flowise-fullchatbot></flowise-fullchatbot>
      <script type="module">
          import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
          Chatbot.initFull({
            chatflowid: "9e33bdaa-5747-4be7-99b7-173973041b1d",
            apiHost: "https://short-actors-occur.loca.lt/",
          })
      </script>

  </body>
</html>
